public/workflows/pdf-summary.json
{
  "name": "PDF Summary Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-upload",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "extractText",
        "binaryPropertyName": "data",
        "outputPropertyName": "pdfText",
        "options": {}
      },
      "id": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "promptType": "define",
        "text": "=Summarize the following PDF text. Extract the key value propositions, findings, and 3 actionable insights.\n\nText:\n{{ $json.pdfText }}",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "OpenAI Summarizer",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "searchText": "={{ $json.choices[0].message.content.match(/Company:\\s*([^\\n]+)/)?.[1] || 'Artificial Intelligence' }}",
        "limit": 1
      },
      "id": "4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Wikipedia Enrichment",
      "type": "n8n-nodes-base.wikipedia",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XyZ-SpreadsheetID-Here-GoogleSheets",
          "mode": "list",
          "cachedResultName": "Automation Insights Log"
        },
        "sheetName": "Sheet1",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Summary": "={{ $node[\"OpenAI Summarizer\"].json.choices[0].message.content }}",
            "Wiki Context": "={{ $json.snippet }}"
          }
        }
      },
      "id": "5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Google Sheets Storage",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "OpenAI Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Summarizer": {
      "main": [
        [
          {
            "node": "Wikipedia Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia Enrichment": {
      "main": [
        [
          {
            "node": "Google Sheets Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
